{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detail client</h1>
        <p class="card-text">Name = {{ client.name }}</p>
        <p class="card-text">Description = {{ client.description }}</p>
        <p class="card-text">Score = {{ client.score }}</p>
{% endblock %}