{% extends 'base.html.twig' %}

{% block body %}
    <h1>Our activities</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="http://placekitten.com/200/100" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Make bacon</h5>
                    <p class="card-text">Drumstick ham hock porchetta flank tri-tip. Buffalo beef ribs sausage meatloaf. Tongue beef ribs pork loin pork chop, hamburger tri-tip turducken.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="http://placekitten.com/200/100" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sell bacon</h5>
                    <p class="card-text">Drumstick ham hock porchetta flank tri-tip. Buffalo beef ribs sausage meatloaf. Tongue beef ribs pork loin pork chop, hamburger tri-tip turducken.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="http://placekitten.com/200/100" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Make some more</h5>
                    <p class="card-text">Drumstick ham hock porchetta flank tri-tip. Buffalo beef ribs sausage meatloaf. Tongue beef ribs pork loin pork chop, hamburger tri-tip turducken.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
